<footer>
    <div class="container">
        <div class="row row-footer">
        <div class="col-xs-12 text-center">
            <p class="footer-text">COPYRIGHT 2018 COMPANY</p>
            <ul class="footer-icons">
            <li><a class="icon-link" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="icon-link" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="icon-link" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="icon-link" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="icon-link" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="icon-link" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>